@Scripts.Render("~/bundles/user-bundle")

<form class="login-form">
    <div class="validation-summary-container">
        <span class="field-validation-error" data-bind="visible: signinError">Wrong username or password</span>
    </div>
    <input class="form-control" type="text" placeholder="Username" data-bind="textInput: model().userName, enterKey: signin">
    <input class="form-control" type="password" placeholder="Password" data-bind="textInput: model().password, enterKey: signin">
    <input value="Log In" type="button" data-bind="click: signin">
</form>

<script>
    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    //$(document).ready(function () {
    (function () {
        ko.applyBindings(new LoginViewModel('@TokenHeaderValue()'), document.getElementById('loginForm'));
    });
</script>